/* body{
    background: red;
} */

/* NOTAS: */

/* REGLAS.
Selectores.
Declaraciones.
Propiedades.
Valores. */

/* Tipos de selectores:
1. De etiqueta: header - section - article - nav
2. Descendente: elemento de un elemento hijo: body header div nav ol li a{}
3. Selector de clase: .nombreClase */

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    /* text-transform: uppercase;
    text-decoration: underline; */
}